@model List<movies.Models.Movie>
    
@{ 
    ViewData["Title"] = "Movies Page";
}

<table class="table">
    <thead>
        <tr>
            <th>Movie Name</th>
            <th>Score</th>
            <th>Review</th>
            <th>Must Watch?</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movie in Model)
        {

        <tr>
            <td>@movie.Name</td>
            <td>@movie.Score</td>
            <td>@movie.Review</td>
            <td>@{if (movie.MustWatch == true)} &#10004;</td>
        </tr>
        }
    </tbody>
</table>
